* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Apple Color Emoji", Helvetica, Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
}
body {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
}
.logo-2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
  /* color: teal; */
  gap: 10px;
}
