.tasks {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 25px;
  padding-right: 25px;
  justify-content: start;
}
.sticky-add-button {
  position: fixed;
  font-weight: 600;
  bottom: 25px;
  right: 25px;
  display: none;
}
@media only screen and (max-width: 600px) {
  .tasks {
    flex-direction: column;
  }
  .sticky-add-button {
    display: block;
  }
}